{{> views/partials/header }}

<h1>{{Title}}</h1>

<form id="jsonForm" autocomplete="off">
    <input type="text" name="source" list="sources" value="dmm" placeholder="Select Source" />
	  <datalist id="sources">
	    <option>Select Source</option>
	    <option value="dmm">dmm</option>
		<option value="mgs">mgs</option>
	  </datalist>
	
    <br>
    <label for="group">Group:</label>
    <input type="text" id="group" name="group" required>
    <input type="checkbox" id="clearGroup" title="Clear Group" tabindex="-1">
    <br>
    <label for="number">Number:</label>
    <input type="text" id="numberLength" value="3" name="numberLength"  tabindex="-1" required>
    <input type="text" id="number" value="000" name="number" required>

    <input type="checkbox" id="clearNumber" title="Clear Number" tabindex="-1">

	<input type="button" value="-" id="modifyNumberMinusOneSubmit" tabindex="-1">

	<input type="number" id="modifyNumberInput" value="1" min="-10" step="1" tabindex="-1">
	<input type="button" value="mod" id="modifyNumberSubmit" tabindex="-1">

	<input type="button" value="+" id="modifyNumberPlusOneSubmit" tabindex="-1">


    <br>
    <label for="name">Name:</label>
    <input type="text" id="name" name="name" required>
    <input type="checkbox" id="clearName" title="Clear Name" tabindex="-1">
    <br>
    <br>
    <button type="submit" id="formSubmit">Submit</button>
    <br>
    <br>
    <label for="result">Result:</label>
    <input type="textarea" id="result" name="result" readonly tabindex="-1">
    <br>
    <br>
</form>

<script>
const submitPath = '{{SubmitPath}}';
</script>

<script src="/js/index.js"></script>

{{> views/partials/footer }}